<%- include("layout/hearder") %>

<div class="container" style="background-color: white;box-shadow: 10px 5px 5px rgb(111, 111, 111);">
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 0px;padding: 20px;">
   
      <% 
    
       for( let index = 0; index < result.length; index++ ) { 
        
        %>
        <div class="col" >
          <div class="card h-100" style="box-shadow: 5px 5px 5px rgb(185, 185, 185);">
            <img src="<%= result[index].image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= result[index].city %> - <%= result[index].state %> - <%= result[index].address %></h5>
              <p class="card-text"><%= result[index].description %></p>

              <h5 class="card-title"><i class="bi bi-fire"></i><%= result[index].status %></h5>
            </div>
            <div class="card-footer">
              <small class="text-muted"> Denuncia feita em : <%= result[index].dataDenuncia.toLocaleString() %></small>
            </div>
          </div>
        </div>
      <% }
       if(result.length == 0){ %>  
        <div class="col-md-12" style="text-align: center;" >
            <h1>Nenhuma Denuncia feita.</h1>
        </div>
      <% } %> 
      </div>
   
</div>

<%- include("layout/footer") %>

